@charset "UTF-8";
#mainframe {
 background-image: url(rainbow.jpg);
 padding: 20%;
 width: 50%;
 height: 50%;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
font-optical-sizing: 0px;
}

#section1 {
    background-image: url(rainbow.jpg);
    
}





