@charset "UTF-8";
#mainframe {
 background-color: chocolate;
 padding: 20%;
 width: 10%;
 height: 10%;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font: 100;
font-optical-sizing: 0px;
}

#section1 {
    background-color: cyan;
    
}





